*:after {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: sans-serif;
}

.camera {
    background-color: #BD1911;
    width: 70%;
    height: 70%;
    position: relative;
}

.canvas{
    /* display: none; */
    width: max-content;
    height: max-content;
}
