*:after {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: sans-serif;
}

.camera {
    background-color: #BD1911;
    width: 70vw;
    height: auto;
    position: relative;
    margin-left: 15vw ;
    margin-top: 5%;
}

.canvas{
    width: 300px;
    height: auto;
    /* display: none; */
    /* width: 100%;
    height: 100%; */
}
